<ion-view view-title="Credential" hide-back-button="true">
  <ion-content>
    <ul ng-show="status" class="list">
        <li class="item item-text-wrap"><i class="ion-person"></i> User ID :: {{user.uid}}</li>
        <li class="item item-text-wrap"><i class="ion-at"></i> Username :: {{user.name}}</li>
        <li class="item item-text-wrap"><i class="ion-ribbon-b"></i> Issuer :: {{user.iss}}</li>
        <li class="item item-text-wrap"><i class="ion-ipad"></i> Audience :: {{user.aud}}</li>
        <li class="item item-text-wrap"><i class="ion-ios-grid-view-outline"></i> Identifier :: {{user.jti}}</li>
        <li class="item item-text-wrap"><i class="ion-ios-clock-outline"></i> Issued At :: {{user.iat| xxxxx}}</li>
        <li class="item item-text-wrap"><i class="ion-ios-timer-outline"></i> Not Before :: {{user.nbf | xxxxx}}</li>
        <li class="item item-text-wrap"><i class="ion-ios-stopwatch-outline"></i> Expired :: {{user.exp | xxxxx}} ({{ clock }} second remaining)</li>
    </ul>
  </ion-content>
</ion-view>
